.about-container {
  display: flex;
  align-items: center;
  margin: 8rem;
}

.about-text {
  flex: 1;
  padding-right: 2rem;

  padding: 2rem;

}

.about-photo img {
  margin-right: 100px;
  object-fit: cover;
  margin-left: 100px;
}

.icons-grid {
  margin-top: 32px;
  background-color: #1a1a1a79;
  border-radius: 20px;
  box-shadow: 0 0 10px #7c3aed;
  padding: 2rem;



  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.icons-grid br {
  flex-basis: 100%;
  height: 0;
  content: "";
}

.break-line {
  flex-basis: 100%;
  height: 0;
}

.icons-grid i {
  font-size: 48px;
  transition: transform 0.3s ease;
}

.icons-grid i:hover {
  transform: scale(1.2);
}
