<div class="app-container">
  <aside class="sidebar">
    <nav>
      <ul class="direcao">
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/projetos">Projetos</a></li>

      </ul>
      <ul class="social">
        <li><a href="https://github.com/naymaisa"><i class="bi bi-github"></i></a></li>
        <li><a href="https://linkedin.com/in/nayaramaisa"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/@CodandocomNay"><i class="bi bi-youtube"></i></a></li>
        <li><a href="https://www.tiktok.com/@codandocomnay"><i class="bi bi-tiktok"></i></a></li>
        <li><a href="https://www.instagram.com/codandocomnay/"><i class="bi bi-instagram"></i></a></li>
        <li><a
            href="https://mail.google.com/mail/?view=cm&to=nayaramaisa.stn@gmail.com&su=Contato%20pelo%20portf%C3%B3lio&body=Ol%C3%A1%2C%20Nayara!%20Vi%20seu%20portf%C3%B3lio%20e..."
            target="_blank" rel="noopener" title="Abrir no Gmail">
            <i class="bi bi-envelope-at-fill"></i>
          </a>

        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
